<div class="primary-container">
    <div class="start-page">
        <div>
            <h2>Alle Ärzte</h2>
            <mat-card class="card" *ngFor="let doc of docs; let i = index">
                <div class="picture">
                    <img src="../../assets/img/{{ doc.img }}">
                    <p>{{doc.insurance}}</p>
                </div>
                <div class="left-section">
                    <h3 [routerLink]="['/doctor-detail/' + i]">{{doc.title}} {{doc.firstName}} {{doc.lastName}}</h3>
                    <p class="type"><span *ngFor="let spec of doc.specialities; let i = index">{{spec}}<span *ngIf="doc.specialities.length > 0 && i + 1 < doc.specialities.length">, </span></span></p>
                    <p class="address">
                        {{doc.street}} <br>
                        <span *ngIf="doc.zipcode > 1">{{doc.zipcode}}</span> {{doc.city}}
                    </p>
                    <div class="description">
                        <div class="profile">
                            <mat-icon>assignment_ind</mat-icon>
                            <div>Profil</div>
                        </div>
                        <div class="note">
                            <span>Note</span> 
                            <div>{{doc.note}}</div>
                        </div>
                        <div class="ratings">
                            {{doc.ratings}} Bewertungen
                        </div>
                    </div>
                    <div class="themes">
                        <div class="box">
                            <div class="inner" *ngFor="let theme of doc.themes">
                                <div >
                                    {{theme}}
                                </div>
                                <span>
                                    &#124;
                                </span>
                            </div>
                            
                        </div>
                        <mat-icon>more_horiz</mat-icon>
                    </div>
                </div>
                <div class="right-section">
                    <mat-list role="list">
                        <!-- <div class="list-header" mat-subheader>Öffnungszeiten</div>
                        <mat-list-item class="opening-list" role="listitem">Montag: <span>{{doc.opening_hours.monday}}</span></mat-list-item>
                        <mat-list-item class="opening-list" role="listitem">Dienstag: <span>{{doc.opening_hours.tuesday}}</span></mat-list-item>
                        <mat-list-item class="opening-list" role="listitem">Mittwoch: <span>{{doc.opening_hours.wednesday}}</span></mat-list-item>
                        <mat-list-item class="opening-list" role="listitem">Donnerstag: <span>{{doc.opening_hours.thursday}}</span></mat-list-item>
                        <mat-list-item class="opening-list" role="listitem">Freitag: <span>{{doc.opening_hours.friday}}</span></mat-list-item>
                        <mat-list-item class="opening-list" role="listitem" 
                        *ngIf="doc.opening_hours.saturday !== 'closed'">Samstag: {{doc.opening_hours.saturday}}</mat-list-item>
                        <mat-list-item class="opening-list" role="listitem" 
                        *ngIf="doc.opening_hours.sunday !== 'closed'">Sonntag: {{doc.opening_hours.sunday}}</mat-list-item> -->
                    </mat-list>
                </div>
            </mat-card>
        </div>
        <button (click)="openDialog()" class="add-button" mat-fab color="primary">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>

