.start-page {
    h2 {
        margin: 0;
        padding: 2rem 0rem;
    }
    .card {
        display: flex;
        margin-bottom: 2rem;
        .picture {
            margin-right: 1.15rem;
            img {
                width: 8rem;
                border-radius: 0.25rem;
                display: block;
            }
            p {
                background-color: rgba(219, 218, 255, 0.526);
                margin: 0;
                text-align: center;
                border-radius: 0.25rem;
                padding: 0.25rem;
                margin-top: 0.5rem;
                font-size: 0.8rem;
                font-weight: 500;
            }
        }
        .left-section {
            width: 50%;
            h3 {
                color: #3F51B5;
                font-size: 1.75rem;
                font-weight: 500;
                margin: 0;
                padding-bottom: 0.4rem;
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
            .type {
                font-size: 1.1rem;
                color: rgba($color: #000000, $alpha: 0.45);
                margin: 0;
                padding-bottom: 1.75rem;
            }
            .address {
                font-size: 1.1rem;
                margin: 0;
                padding-bottom: 1.25rem;
            }
            .description {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 1.25rem;
                .profile {
                    display: flex;
                    align-items: center;
                    font-size: 1.1rem;
                    color: #3F51B5;
                    cursor: pointer;
                    mat-icon {
                        margin-right: 1.15rem;
                    }
                    &:hover {
                        div {
                            text-decoration: underline;
                        }
                    }
                }
                .note {
                    display: flex;
                    align-items: center;
                    font-size: 1.1rem;
                    color: rgba($color: #000000, $alpha: 0.45);
                    span {
                        padding-right: 0.75rem;
                    }
                    div {
                        padding: 0.5rem 0.4rem;
                        border-radius: 0.35rem;
                        background-color: #3f51b5;
                        color: white;
                    }
                }
                .ratings {
                    font-size: 1.1rem;
                    color: rgba($color: #000000, $alpha: 0.45);
                }
            }
            .themes {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .box {
                    display: flex;
                    flex-grow: 1;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 1.1rem;
                    overflow: hidden;
                    position: relative;
                    div {
                        white-space: nowrap;
                        margin-right: 1.15rem;
                    }
                    span {
                        margin-right: 1.15rem;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        width: 2rem;
                        background-image: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
                    }
                }
                mat-icon {
                   cursor: pointer;
                   opacity: 0.6;
                   &:hover {
                       opacity: 1;
                   }
                }
            }
        }
        .right-section {
            padding-left: 2rem;
            .list-header {
                color: rgba($color: #000000, $alpha: 0.45);
                font-size: 1.1rem;
            }
            .opening-list {
                white-space: nowrap;
                margin: -1rem 0rem;
            }
        }
        
    }
}