
<div class="search">
    <div class="primary-container">
        <form class="search-form">
            <mat-form-field appearance="fill">
              <mat-label>Fachgebiet / Erkrankung</mat-label>
              <input matInput placeholder="">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Ort</mat-label>
                <input matInput placeholder="">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Buchung</mat-label>
                <mat-select>
                  <mat-option value="one">telefonisch & online</mat-option>
                  <mat-option value="two">nur online</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-raised-button color="primary">
                <mat-icon aria-hidden="false">search</mat-icon>
                Suchen
            </button>
        </form>
    </div>
</div>


<div class="primary-container">
    <div class="start-page">
        <div>
            <h2>Alle Ärzte</h2>
            <mat-card class="card" *ngFor="let doc of docs; let i = index">
                <div class="picture">
                    <img src="../../assets/img/{{ doc.img }}">
                    <p>{{doc.insurance}}</p>
                </div>
                <div class="left-section">
                    <h3 [routerLink]="['/doctor-detail/' + doc.customIdName]">{{doc.title}} {{doc.firstName}} {{doc.lastName}}</h3>
                    <p class="type"><span *ngFor="let spec of doc.specialities; let i = index">{{spec}}<span *ngIf="doc.specialities.length > 0 && i + 1 < doc.specialities.length">, </span></span></p>
                    <p class="address">
                        {{doc.street}} <br>
                        <span>{{doc.zipCode}}</span> {{doc.city}}
                    </p>
                    <div class="description">
                        <div class="profile">
                            <mat-icon>assignment_ind</mat-icon>
                            <div>Profil</div>
                        </div>
                        <div class="note">
                            <span>Note</span> 
                            <div>{{doc.note}}</div>
                        </div>
                        <div class="ratings">
                            {{doc.ratings}} Bewertungen
                        </div>
                    </div>
                    <div class="themes">
                        <div class="box">
                            <div class="inner" *ngFor="let theme of doc.themes">
                                <div >
                                    {{theme}}
                                </div>
                                <span>
                                    &#124;
                                </span>
                            </div>
                            
                        </div>
                        <mat-icon>more_horiz</mat-icon>
                    </div>
                </div>
                <div class="right-section">
                    <mat-list role="list">
                        <div class="list-header" mat-subheader>Öffnungszeiten</div>
                        <mat-list-item class="opening-list" role="listitem">
                            <span class="day">Montag:</span>
                            <div>
                                <span>{{doc.mondayFrom}}</span>
                                <span class="minus">-</span>
                                <span>{{doc.mondayTo}}</span>
                            </div>
                        </mat-list-item>
                        <mat-list-item class="opening-list" role="listitem">
                            <span class="day">Dienstag:</span>
                            <div>
                                <span>{{doc.tuesdayFrom}}</span>
                                <span class="minus">-</span>
                                <span>{{doc.tuesdayTo}}</span>
                            </div>
                        </mat-list-item>
                        <mat-list-item class="opening-list" role="listitem">
                            <span class="day">Mittwoch:</span>
                            <div>
                                <span>{{doc.wednesdayFrom}}</span>
                                <span class="minus">-</span>
                                <span>{{doc.wednesdayTo}}</span>
                            </div>
                        </mat-list-item>
                        <mat-list-item class="opening-list" role="listitem">
                            <span class="day">Donnerstag:</span>
                            <div>
                                <span>{{doc.thursdayFrom}}</span>
                                <span class="minus">-</span>
                                <span>{{doc.thursdayTo}}</span>
                            </div>
                        </mat-list-item>
                        <mat-list-item class="opening-list" role="listitem">
                            <span class="day">Freitag:</span>
                            <div>
                                <span>{{doc.fridayFrom}}</span>
                                <span class="minus">-</span>
                                <span>{{doc.fridayTo}}</span>
                            </div>
                        </mat-list-item>
                    </mat-list>
                </div>
            </mat-card>
        </div>
        <button (click)="openDialog()" class="add-button" mat-fab color="primary">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>

