<div class="primary-container">
    <div *ngIf="isLoaded">
        <div class="back-to-list">
            <button [routerLink]="['/']" mat-icon-button>
                <mat-icon>arrow_back_ios</mat-icon>
            </button>
            <span>
                Liste
            </span>
        </div>
        <div class="header">
            <div class="top-section">
                <img src="../../assets/img/header.jpg">
            </div>
            <div class="bottom-section">
                <div class="left-section">
                    <div class="img-outer">
                        <img *ngIf="isLoaded" src="../../assets/img/{{doc.img}}">
                    </div>
                    <div class="name-description">
                        <h3>{{doc.title}} {{doc.firstName}} {{doc.lastName}}</h3>
                        <p>
                            <span *ngFor="let speciality of doc.specialities; let i = index">{{speciality}}<span *ngIf="doc.specialities.length > 0 && i + 1 < doc.specialities.length">, </span></span>
                        </p>
                    </div>
                </div>
                <div class="right-section">
                    <div class="note">
                        <b>Note</b>
                        <span>{{doc.note}}</span>
                    </div>
                    <div class="ratings">
                        <mat-icon>chat</mat-icon>
                        <span>{{doc.ratings}} Bewertungen</span>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="informations">
            <div class="left-box">
                <div class="call">
                    <mat-icon>call</mat-icon>
                    <span>{{doc.phone}}</span>
                </div>
                <div class="home">
                    <mat-icon>home</mat-icon>
                    <span>Zur Website</span>
                </div>
                <div class="insurance">
                    <mat-icon>payments</mat-icon>
                    <div>
                        <span>{{doc.insurance}}</span>
                    </div>
                </div>
            </div>
            <div>
                <button mat-raised-button color="primary">
                    <mat-icon>edit</mat-icon>
                    <span>Bewerten</span>
                </button>
            </div>
        </div>
        <div class="opening">
            <h3>
                <mat-icon>schedule</mat-icon>
                <span>Sprechzeiten</span>
            </h3>
            <div class="list">
                <div class="inner">
                    <span class="day">Mo</span>
                    <div>
                        <span>{{doc.mondayFrom}}</span>
                        <span>-</span>
                        <span>{{doc.mondayTo}}</span>
                    </div>
                </div>
                <div class="inner">
                    <span class="day">Di</span>
                    <div>
                        <span>{{doc.tuesdayFrom}}</span>
                        <span>-</span>
                        <span>{{doc.tuesdayTo}}</span>
                    </div>
                </div>
                <div class="inner">
                    <span class="day">Mi</span>
                    <div>
                        <span>{{doc.wednesdayFrom}}</span>
                        <span>-</span>
                        <span>{{doc.wedenesdayTo}}</span>
                    </div>
                    
                </div>
                <div class="inner">
                    <span class="day">Do</span>
                    <div>
                        <span>{{doc.thursdayFrom}}</span>
                        <span>-</span>
                        <span>{{doc.thursdayTo}}</span>
                    </div>
                    
                </div>
                <div class="inner">
                    <span class="day">Fr</span>
                    <div>
                        <span>{{doc.fridayFrom}}</span>
                        <span>-</span>
                        <span>{{doc.fridayTo}}</span>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
