<div class="headline" mat-dialog-title>
  <h1>Arzt hinzufügen</h1>
</div>

<div mat-dialog-content class="dialog-container">
  <mat-form-field class="field-1" appearance="fill">
    <mat-label>Titel</mat-label>
    <input minlength="2" matInput [(ngModel)]="doctor.title">
  </mat-form-field>
  <mat-form-field class="field-2" appearance="fill">
    <mat-label>Vorname</mat-label>
    <input minlength="2" matInput [(ngModel)]="doctor.firstName">
  </mat-form-field>
  <mat-form-field class="field-3" appearance="fill">
    <mat-label>Nachname</mat-label>
    <input minlength="2" matInput [(ngModel)]="doctor.lastName">
  </mat-form-field>
  <mat-form-field class="field-4" appearance="fill">
    <mat-label>Telefon</mat-label>
    <input minlength="4" matInput [(ngModel)]="doctor.phone">
  </mat-form-field>
  <mat-form-field class="field-5" appearance="fill">
    <mat-label>Spezialisierung</mat-label>
    <mat-chip-list #chipList aria-label="Fruit selection">
      <mat-chip *ngFor="let spec of specialities" (removed)="remove(spec)">
        {{spec}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input placeholder="Neue Spezia..."
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
  </mat-form-field>
  <mat-form-field class="field-6" appearance="fill">
    <mat-label>Themen</mat-label>
    <mat-chip-list #chipList1 aria-label="Fruit selection">
      <mat-chip *ngFor="let theme of themes" (removed)="removeSecond(theme)">
        {{theme}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input placeholder="Neues Thema..."
             [matChipInputFor]="chipList1"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="addSecond($event)">
    </mat-chip-list>
  </mat-form-field>
  <mat-form-field class="field-7" appearance="fill">
    <mat-label>Bewertungen</mat-label>
    <input minlength="1" matInput [(ngModel)]="doctor.ratings">
  </mat-form-field>
  <mat-form-field class="field-8" appearance="fill">
    <mat-label>Note</mat-label>
    <mat-select [(ngModel)]="doctor.note">
      <mat-option *ngFor="let note of notes" [value]="note">{{note}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="field-9" appearance="fill">
    <mat-label>Krankenkasse</mat-label>
    <mat-select [(ngModel)]="doctor.insurance">
      <mat-option [value]="'Privat'">Privat</mat-option>
      <mat-option [value]="'Gesetzlich'">Gesetzlich</mat-option>
      <mat-option [value]="'Privat & Gesetzlich'">Privat & Gesetzlich</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="field-10" appearance="fill">
    <mat-label>Strasse</mat-label>
    <input minlength="3" matInput [(ngModel)]="doctor.street">
  </mat-form-field>
  <mat-form-field class="field-11" appearance="fill">
    <mat-label>Postleitzahl</mat-label>
    <input minlength="5" matInput [(ngModel)]="doctor.zipCode">
  </mat-form-field>
  <mat-form-field class="field-12" appearance="fill">
    <mat-label>Ort</mat-label>
    <input minlength="2" matInput [(ngModel)]="doctor.city">
  </mat-form-field>
  <mat-form-field class="field-13" appearance="fill">
    <mat-label>Terminvergabe</mat-label>
    <mat-select [(ngModel)]="doctor.appointment">
      <mat-option [value]="'telephone'">Telefonisch</mat-option>
      <mat-option [value]="'online'">Online</mat-option>
      <mat-option [value]="'both'">Telefonisch & Online</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="field-14" appearance="fill">
    <mat-label>Bild</mat-label>
    <input matInput [(ngModel)]="doctor.img">
  </mat-form-field>

  <div class="opnenings">
    <h3>Montag</h3>
    <mat-form-field class="openings-1" appearance="fill">
      <mat-label>Von</mat-label>
      <mat-select [(ngModel)]="doctor.mondayFrom">
        <mat-option *ngFor="let time of times" [value]="time">{{time}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="openings-2" appearance="fill">
      <mat-label>Bis</mat-label>
      <mat-select [(ngModel)]="doctor.mondayTo">
        <mat-option *ngFor="let time of times" [value]="time">{{time}}</mat-option>
      </mat-select>
    </mat-form-field>
    <h3>Dienstag</h3>
    <mat-form-field class="openings-3" appearance="fill">
      <mat-label>Von</mat-label>
      <mat-select [(ngModel)]="doctor.tuesdayFrom">
        <mat-option *ngFor="let time of times" [value]="time">{{time}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="openings-4" appearance="fill">
      <mat-label>Bis</mat-label>
      <mat-select [(ngModel)]="doctor.tuesdayTo">
        <mat-option *ngFor="let time of times" [value]="time">{{time}}</mat-option>
      </mat-select>
    </mat-form-field>
    <h3>Mittwoch</h3>
    <mat-form-field class="openings-5" appearance="fill">
      <mat-label>Von</mat-label>
      <mat-select [(ngModel)]="doctor.wednesdayFrom">
        <mat-option *ngFor="let time of times" [value]="time">{{time}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="openings-6" appearance="fill">
      <mat-label>Bis</mat-label>
      <mat-select [(ngModel)]="doctor.wednesdayTo">
        <mat-option *ngFor="let time of times" [value]="time">{{time}}</mat-option>
      </mat-select>
    </mat-form-field>
    <h3>Donnerstag</h3>
    <mat-form-field class="openings-7" appearance="fill">
      <mat-label>Bis</mat-label>
      <mat-select [(ngModel)]="doctor.thursdayFrom">
        <mat-option *ngFor="let time of times" [value]="time">{{time}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="openings-8" appearance="fill">
      <mat-label>Bis</mat-label>
      <mat-select [(ngModel)]="doctor.thursdayTo">
        <mat-option *ngFor="let time of times" [value]="time">{{time}}</mat-option>
      </mat-select>
    </mat-form-field>
    <h3>Freitag</h3>
    <mat-form-field class="openings-9" appearance="fill">
      <mat-label>Bis</mat-label>
      <mat-select [(ngModel)]="doctor.fridayFrom">
        <mat-option *ngFor="let time of times" [value]="time">{{time}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="openings-10" appearance="fill">
      <mat-label>Bis</mat-label>
      <mat-select [(ngModel)]="doctor.fridayTo">
        <mat-option *ngFor="let time of times" [value]="time">{{time}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Schließen</button>
  <button mat-button cdkFocusInitial (click)="saveDoc()">Ok</button>
</div>
