.header {
    height: 6rem;
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    img {
        height: 3.5rem;
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        li {
            font-size: 14px;
            font-weight: 200;
            padding: 6px 12px;
            border: 1px solid white;
            border-right: none;
            cursor: pointer;
            &:first-child{
                border-top-left-radius: 24px;
                border-bottom-left-radius: 24px;
            }
            &:last-child{
                border-top-right-radius: 24px;
                border-bottom-right-radius: 24px;
                border: 1px solid white;
            }
            &:hover {
                background-color: rgba(255, 255, 255, 0.093);
            }
        }
    }
}

.search {
    padding-top: 2rem;
    background-color: rgba(219, 218, 255, 0.526);
    .search-form {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        mat-form-field {
            margin: 0 0.5rem;
            flex-grow: 1;
            &:first-child {
                margin-left: 0;
            }
            mat-label {
                font-size: 1rem;
            }
        }
        button {
            margin-left: 0.5rem;
            height: 3.25rem;
           
        }
        
    }
    
}