.header {
    height: 6rem;
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-left: -1rem;
        margin-right: -1rem;
    }
    img {
        height: 3.5rem;
        cursor: pointer;
        @media(max-width: 55em){
            height: 3rem
        }
    }
    .menu {
        display: none;
        @media(max-width: 55em){
            cursor: pointer;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            min-width: unset;
            display: flex;
            justify-content: center;
            align-items: center;
            mat-icon {
                margin-bottom: 0.2rem;
            }
        }
    }
    .mobile-list { 
        button {
            padding: 0 2rem;
        }
        @media(min-width: 55em){
            display: none !important;
        }
        
    }
    .desktop-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        li {
            font-size: 14px;
            font-weight: 200;
            padding: 6px 12px;
            border: 1px solid white;
            border-right: none;
            cursor: pointer;
            &:first-child{
                border-top-left-radius: 24px;
                border-bottom-left-radius: 24px;
            }
            &:last-child{
                border-top-right-radius: 24px;
                border-bottom-right-radius: 24px;
                border: 1px solid white;
            }
            &:hover {
                background-color: rgba(255, 255, 255, 0.093);
            }
        }
        @media(max-width: 55em){
            display: none;
        }
    }
}

.search {
    padding-top: 2rem;
    background-color: rgba(219, 218, 255, 0.526);
    .search-form {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        mat-form-field {
            margin: 0 0.5rem;
            flex-grow: 1;
            &:first-child {
                margin-left: 0;
            }
            mat-input {
                width: 100%;
            }
            mat-label {
                font-size: 1rem;
            }
        }
        button {
            margin-left: 0.5rem;
            height: 3.25rem;
            @media(max-width: 60em) {
                flex-shrink: 0;
            }
           
        }
        @media(max-width: 55em) {
            flex-wrap: wrap;
            mat-form-field {
                margin: 0;
                width: calc(50% - 0.25rem);
                &:first-child {
                    margin-right: 0.5rem;
                }
                &:last-child {
                    margin-right: 0.5rem;
                }
            }
        }
        @media(max-width: 32.5em){
            mat-form-field {
                margin: 0;
                width: 100%;
                &:first-child {
                    margin-right: 0rem;
                }
            }
            button {
                margin-left: auto;
                margin-right: auto;
            }
        }
        
    }
    @media(max-width: 32.5em){
        padding-bottom: 2rem;
    }
    
}

.d-none {
    display: none !important;
}