

<mat-toolbar color="primary" class="header">
  <div class="primary-container header-container"> 
    <img src="../assets/img/logo.png">
    <button class="menu" [matMenuTriggerFor]="menu" mat-button><mat-icon aria-hidden="false">menu</mat-icon></button>
    <ul class="desktop-list">
      <li>Arztsuche</li>
      <li>Termin buchen</li>
      <li>Ratgeber</li>
      <li>Für Ärzte</li>
      <li>Login</li>
    </ul>
    <mat-menu #menu="matMenu" class="mobile-list">
      <button mat-menu-item>Arztsuche</button>
      <button mat-menu-item>Termin buchen</button>
      <button mat-menu-item>Ratgeber</button>
      <button mat-menu-item>Für Ärzte</button>
      <button mat-menu-item>Login</button>
    </mat-menu>
    
  </div>
</mat-toolbar>

<div class="search">
  <div class="primary-container">
      <form class="search-form">
          <mat-form-field appearance="fill">
            <mat-label>Fachgebiet / Erkrankung</mat-label>
            <input matInput placeholder="">
          </mat-form-field>
          <mat-form-field appearance="fill">
              <mat-label>Ort</mat-label>
              <input matInput placeholder="">
          </mat-form-field>
          <mat-form-field appearance="fill">
              <mat-label>Buchung</mat-label>
              <mat-select>
                <mat-option value="one">telefonisch & online</mat-option>
                <mat-option value="two">nur online</mat-option>
              </mat-select>
          </mat-form-field>
          <button mat-raised-button color="primary">
              <mat-icon aria-hidden="false">search</mat-icon>
              Suchen
          </button>
      </form>
  </div>
</div>

<router-outlet></router-outlet>

