/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.primary-container {
    padding-left: 15rem;
    padding-right: 15rem;
    @media(max-width: 80em){
        padding-left: 10rem;
        padding-right: 10rem;
    }
    @media(max-width: 70em){
        padding-left: 5rem;
        padding-right: 5rem;
    }
    @media(max-width: 60em){
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    @media(max-width: 45em) {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}